body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url('./milkyway.jpeg'); /* Replace with your actual background image URL */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 15, 50);
    padding: 10px;
}

.navbartext {
    color: white;
    font-size: 20px;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="range"] {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
}

input[type="file"], .btn {
    margin: 10px 0;
}
.code-box {
    border: 1px solid #ccc;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 10px;
    /* Linear gradient from top to bottom */
    background-image: linear-gradient(to bottom, #f1f1f1, #151737);
}